.header {
  padding: 0 24px;
  height: 85px;
}

.header .left {
  float: left;
}

.header .right {
  float: right;
}

.main {
  min-height: calc(100vh - 74px - 71px);
}

.footer {
  text-align: center;
  background-color: #f7f7f7;
  border-top: 1px solid #e8e8e8;
  height: 100%;
  padding: 17px 0;
}
